# Compiled class files
*.class

# Log files
*.log

# IntelliJ project files
.idea/

# Eclipse project files
.classpath
.project
.settings/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.metadata
.history
*.recommenders
