<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id='baseAnimal' class='in.ineuron.bean.Animal'
		abstract="true">
		<property name="place" value="Silent Valley" />
		<property name="age" value="8" />
	</bean>

	<bean id="cat-animal" class="in.ineuron.bean.Cat"
		parent="baseAnimal">
		<property name="numberOfLegs" value="4"></property>
	</bean>

	<bean id="parrot-animal" class="in.ineuron.bean.Parrot"
		parent="baseAnimal">
		<property name="numberOfLegs" value="2"></property>
	</bean>

</beans>