<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Normal way -->
	<bean id="dob" class="java.util.Date">
		<property name="date" value="03" />
		<property name="month" value="0" />
		<property name="year" value="93" />
	</bean>

	<!-- using p:namespace -->
	<bean id="dos" class="java.util.Date" 
	p:month="02" p:date="25" p:year="123" />

	<!-- using p:names[ace -->
	<bean id="emp" class="in.ineuron.comp.Employee"
	 p:eno="10" p:ename="sachin" p:dob-ref="dob" p:dept-ref="dept" />

	<!-- using c:namespace -->
	<bean id="dept" class="in.ineuron.comp.Department" 
	c:dno="10" c:dname="CS" c:dos-ref="dos"/>

</beans>


