<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

	<!-- specifying the scanning location of bean class definitions -->
	<context:component-scan base-package="in.ineuron.comp"/>
	
	<!-- specifying the scanning location of properties file -->
	<context:property-placeholder location="in/ineuron/commons/info.properties" />

	<!-- Creating dependent Object -->
	<bean id="dt" class="java.util.Date">
		<property name="date" value="${dt.day}" />
	</bean>

</beans>